body{
    background-color:#191917;
    overflow:hidden;
}
#screen-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background-color:#191917;
    width:100vw;
    height:100vh;
    box-sizing: border-box;
}
#content-container{
    height:fit-content;
    width:fit-content;
    background-color:#242421;
    border-radius:30px;
}